---
import Layout from "../layouts/Layout.astro";
import SanityImgAstro from "@sanity-image-component/astro";
import { image } from "@sanity-image-component/astro";
import SanityImgSvelte from "@sanity-image-component/svelte";
import MySvelteComponent from "../components/MySvelteComponent.svelte";
import { sanityClient } from "sanity:client";

const data = await sanityClient.fetch(
  `*[_type == "site"][0] {
      ${image("logo")}
  }`
);
---

<Layout title="Astro example">
  <main>
    <h1>Astro component</h1>
    <SanityImgAstro src={data.logo} alt="Image" sizes="200w" width={100} />
    <h2>Svelte component</h2>
    <SanityImgSvelte src={data.logo} alt="Image" sizes="200w" width={100} />
    <h2>Svelte in svelte</h2>
    <MySvelteComponent imageSrc={data.logo} />
  </main>
</Layout>

<style>
  html {
    background-color: #666;
    color: white;
  }
</style>
