---
import Layout from "../layouts/Layout.astro";
import SanityImage from "@sanity-image-component/astro";
import SanityImageSvelte from "@sanity-image-component/svelte";
import { image } from "@sanity-image-component/lib";
import { sanityClient } from "sanity:client";

const data = await sanityClient.fetch(
  `*[_type == "site"][0] {
      ${image("logo")}
  }`
);
---

<Layout title="Astro example">
  <main>
    <SanityImage src={data.logo} alt="Img " />
    <SanityImageSvelte src={data.logo} />
  </main>
</Layout>
